tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-hub==0.8.0
protobuf==3.20.0
transformers==4.30.2
pandas==1.0.4
lightgbm==2.3.1
nltk==3.5
spacy==3.0.7
spacy-legacy==3.0.8
tqdm==4.62.3
tensorboard
tokenizers==0.11.1
sentencepiece==0.1.86
scipy
scikit-learn==0.22.2.post1
scikit-multilearn==0.2.0
keras==2.3.1
bert4keras==0.11.5
zipp==3.5.0
boto3==1.18.18
recordclass
pyahocorasick==1.4.2
gensim==3.8.3
numpy==1.18.1
h5py
six==1.15.0
requests
jieba
